/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End Here */
:root {
    --slate-darkest: #0f172a;
    --slate-darker: #1e293b;
    --slate-dark: #334155;
    --slate: #475569;
    --slate-light: #64748b;
    --slate-lighter: #94a3b8;
    --slate-lightest: #cbd5e1;
    --gray-sl: #e2e8f0;
    --white-gray: #f1f5f9;
    --white: #f8fafc;
}

body {
    min-height: 100vh;
    color: var(--gray-sl);
}

svg {
    width: 18px;
    height: 18px;
}

svg path {
    fill: var(--slate-darkest);
}

.container {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 10vh 1fr auto;
}

.header {
    background-color: var(--slate-darkest);
    grid-column: 1/3;
    padding: 10px;
}

.sidebar {
    background-color: var(--slate-darker);
    padding: 10px;
}

input[type='text'],
input[type='number'] {
    width: min(90%, 300px);
    display: block;
}

.main-container {
    background-color: var(--slate-dark);
    padding: 10px;
}

table, tr, th, td {
    border: 1px solid var(--slate-lightest);
    padding: 5px 10px
}

table {
    margin: 10px 0px;
    width: 100%;
    text-align: left;
}

button {
    background-color: var(--slate-lightest);
    border-radius: 5px;
    font-weight: bold;
    min-width: 3.6rem;
    min-height: 1.4rem;
    padding: 2px 6px;
    border: 0;
}

.red-button {
    color: var(--white-gray);
    background-color: #ff00007a;
}

.green-button {
    color: var(--white-gray);
    background-color: #019b0196;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

th {
    font-weight: bold;
}

.footer {
    background-color: var(--slate-darkest);
    grid-column: 1/3;
    padding: 5px;
    text-align: center;
}